/* Regular clients section*/
.client__title {
    margin-bottom: 50px;
    text-align: center;

    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    @include media(tablet) {
        margin-bottom: 30px;
    }

    @include media(desktop) {
        font-size: 36px;
        line-height: 1.16;
    }
}

.client__list {
    display: inline-flex;

    @include media(max-desktop) {
        flex-wrap: wrap;

        margin-left: calc(-1 * $card-set-gap);
        margin-top: calc(-1 * $card-set-gap);
    }

}

.client__item {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 210px;
    height: 92px;

    border: 1px solid $icon-color;
    border-radius: 4px;

    @include transition(border-color);

    &:hover,
    &:focus {
        border-color: $accent-color;
    }

    @include media(mobile) {
        flex-basis: calc(100% / 2 - $card-set-gap);
    }

    @include media(tablet-desktop) {
        max-width: 354px;
        flex-basis: calc(100% / 3 - $card-set-gap);
    }

    @include media(max-desktop) {
        margin-left: $card-set-gap;
        margin-top: $card-set-gap;
    }

    @include media(desktop) {
        width: 170px;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.client__link {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    fill: $icon-color;

    @include transition(fill);

    .client__item:hover &,
    &:focus {
        fill: $accent-color;
    }
}