.feature__list {
    @include media(tablet) {
        display: flex;
    }

    @include media(tablet-desktop) {
        flex-wrap: wrap;
        justify-content: center;

        margin-left: calc(-1 * $card-set-gap);
        margin-top: calc(-1 * $card-set-gap);
    }

    @include media(desktop) {
        justify-content: space-between;
    }
}

.feature__item {
    max-width: 450px;
    margin: auto;

    @include media(mobile) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @include media(tablet-desktop) {
        max-width: 354px;

        flex-basis: calc(100% / 2 - $card-set-gap);
        margin-left: $card-set-gap;
        margin-top: $card-set-gap;
    }

    @include media(desktop) {
        max-width: 270px;
        margin-top: 0;
    }
}

.feature__icon-wrapper {
    max-width: 100%;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $bgr-primary-color;
    border-radius: 4px;
}

.feature__subtitle {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @include media(mobile) {
        text-align: center;
    }
}

.feature__desc {
    font-size: 14px;
    line-height: 1.71;
}