// Form order - modal window
.form-order__field {
    margin-bottom: 10px;
}

.form-order__label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: $desc-color;
}

.form-order__input-thumb {
    position: relative;

    @include transition(fill);
}

.form-order__input {
    width: 100%;
    height: 40px;
    padding: 11px 42px;

    background-color: $white-color;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    cursor: pointer;

    @include transition(border-color);

    &:hover,
    &:focus {
        border-color: $accent-color;
    }

    @include media(desktop) {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.form-order__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    .form-order__input-thumb:hover &,
    .form-order__input:focus+& {
        fill: $accent-color;
    }
}

.form-order__textarea {
    display: block;
    resize: none;

    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
    background-color: $white-color;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    cursor: pointer;

    @include transition(border-color);

    &:hover,
    &:focus {
        border-color: $accent-color;
    }
}

.form-order__privacy-field {
    margin-bottom: 30px;
}

.form-order__privacy-label {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    line-height: 1.17;

    @include media(desktop) {
        font-size: 14px;
        line-height: 1.71;
    }
}

.form-order__privacy-imput {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form-order__privacy-checkbox {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8px;

    background-image: url(../images/icon-uncheck.svg);
    background-position: center;
    background-size: contain;
    background-origin: border-box;
    background-repeat: no-repeat;

    cursor: pointer;

    @include transition(background-image);

    .form-order__privacy-imput:checked+& {
        background-image: url(../images/icon-check.svg);
    }

    // доробити
    // .form-order__privacy-imput:hover+&,
    // .form-order__privacy-imput:focus+& {

    // }

}

.form-order__privacy-link {
    text-decoration: underline;

    color: $accent-color;

    cursor: pointer;
}

.form-order__send-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    padding: 10px 52px;

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: $white-color;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;

    @include media(desktop) {
        padding-left: 55px;
        padding-right: 55px;
    }
}