/* Modal window */
.backdrop {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    background: rgba(0, 0, 0, 0.2);

    @include transition(opacity);
    @include transition(visibility);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 40px;

    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @include media(max-mobile) {
        min-width: 0px;
        min-height: 0px;
    }

    @include media(min-mobile) {
        min-width: 450px;
        min-height: 609px;
    }

    @include media(desktop) {
        min-width: 528px;
        min-height: 581px;
    }
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    background: inherit;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    @include transition(fill);

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}

.modal__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.50;
    text-align: center;

    color: $header-color;
}