// Header
.page-header {
    border-bottom: 1px solid $header-border-color;
}

.page-header__container {
    display: flex;

    @media screen and (max-width: $tablet) {
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (min-width: $tablet) {
        align-items: center;
    }
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: $accent-color;

    @media screen and (min-width: $desktop) {
        font-size: 26px;
        line-height: 1.2;
    }

}

.logo--header {
    color: $black-color;
}

.main-nav__list {
    @media screen and (min-width: $tablet) {
        display: flex;
        margin-left: 93px;
    }
}

.main-nav__item {
    @media screen and (min-width: $tablet) {
        position: relative;

        &:not(:last-child),
        .contact-list__item:not(:last-child) {
            margin-right: 50px;
        }
    }
}



.main-nav__link {
    // display: block;
    // padding: 32px 0;

    color: $header-color;
    font-weight: 500;
    letter-spacing: 0.02em;

    @include transition(color);

    &.current,
    &:hover,
    &:focus {
        color: $accent-color;
    }

    @media screen and (max-width:$tablet) {
        font-size: 40px;
        line-height: 1.17;
    }

    @media screen and (min-width: $tablet) {
        // font-size: 14px;
        // line-height: 1.14;

        &.current::after {
            content: '';

            position: absolute;
            left: 0;
            bottom: 0;

            display: block;
            width: 100%;
            height: 4px;

            background: $accent-color;
            border-radius: 2px;
        }

    }
}

.contact-list {
    display: flex;

    // margin-left: auto;
    @media screen and (max-width: $tablet) {
        flex-flow: column-reverse;
    }
}

.contact-list__item {
    // display: flex;
    // align-items: center;

    // font-weight: 500;
    // font-size: 14px;
    // line-height: 1.14;
    // letter-spacing: 0.02em;
    // color: inherit;

    @include transition(color);

    &:hover,
    &:focus {
        color: $accent-color;
    }


}

.contact-list__icon {
    margin-right: 10px;
    fill: currentColor;

    @media screen and (max-width: $tablet) {
        display: none;
    }
}

.main-social__list {
    display: flex;

    @media screen and (min-width:$tablet) {
        display: none;
    }
}

.main-social__item {
    &:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    &:not(:first-child) {
        padding-left: 10px;
    }

}

.main-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: $accent-color;
}

// Mobile menu
.btn-menu {
    position: relative;
    z-index: 1;

    display: inline-flex;

    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.btn-menu__icon-menu--open {
    .btn-menu.is-open & {
        display: none;

    }
}

.btn-menu__icon-menu--close {
    display: none;

    .btn-menu.is-open & {
        display: block;

    }
}

.menu-container {
    display: none;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 48px 40px;
    background-color: $white-color;

    &.is-open {
        display: block;
    }
}