/* Main Portfolio */
.portfolio {
    padding-top: 60px;
    padding-bottom: 60px;

    @include media(desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.filter__list {
    display: flex;
    margin-bottom: 40px;

    @include media(mobile) {
        flex-wrap: wrap;
        max-width: 326px;
    }

    @include media(tablet) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @include media(desktop) {
        margin-bottom: 50px;
    }
}

.filter__item {
    &:not(:last-child) {
        margin-right: 8px;
    }

    @include media (mobile) {
        &:nth-last-child(3n) {
            margin-right: 0px;
        }

        &:nth-last-child(n+3) {
            margin-bottom: 15px;
        }
    }
}

.filter__btn {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    color: $header-color;
    background-color: $bgr-primary-color;
    border-radius: 4px;

    @include transition(background-color);
    @include transition(color);
    @include transition(box-shadow);

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $white-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.preview__list {
    @include media(tablet) {
        margin-top: 30px;

        display: flex;
        flex-wrap: wrap;

        margin-left: calc(-1 * $card-set-gap);
        margin-top: calc(-1 * $card-set-gap);
    }

    @include media(desktop) {
        margin-top: 50px;
    }

}

.preview__item {
    max-width: 450px;
    // max-height: 404px;

    @include media(mobile) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @include media(tablet) {
        max-width: 354px;
        flex-basis: calc(100% / 2 - $card-set-gap);
        margin-left: $card-set-gap;
        margin-top: $card-set-gap;
    }

    @include media(desktop) {
        max-width: 370px;

        flex-basis: calc(100% / 3 - $card-set-gap);
    }
}


.preview__link {
    display: flex;
    flex-direction: column;

    height: 100%;

    @include transition(box-shadow);

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}


.preview__text {
    flex-grow: 1;

    padding: 20px 24px;

    border: 1px solid $border-color;
    border-top: 0;
}

.preview__title {
    margin-bottom: 4px;

    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.preview__desc {
    font-size: 16px;
    line-height: 1.88;
}

.preview__thumb-img {
    position: relative;
    overflow: hidden;
}

.preview__img {
    width: 100%;
}

.preview__desc-overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);

    width: 100%;
    height: 100%;
    padding: 77px 24px;

    font-size: 18px;
    line-height: 1.56;

    color: $white-color;
    background: rgba(33, 150, 243, 0.9);

    @include transition(transform);

    .preview__link:hover & {
        transform: translateY(0);
    }

    @include media(tablet) {
        padding-top: 49px;
        padding-bottom: 49px;
    }

    @include media(desktop) {
        padding-top: 63px;
        padding-bottom: 63px;
    }
}