// What we do section
.we-do {
    display: none;
    padding-top: 0;

    @include media(desktop) {
        display: block;
    }
}

.we-do__title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.we-do__list {
    display: flex;
    justify-content: space-between;
}

.we-do__thumb {
    position: relative;
}

.we-do__subtitle {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white-color;
    background-color: rgba(47, 48, 58, 0.8);
}