// Global styles
body {
    background-color: $white-color;
    color: $desc-color;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

body.modal-open,
body.mobile-menu-open {
    overflow: hidden;
}

h2,
h3 {
    color: $header-color;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    padding: 60px 0;

    @include media(desktop) {
        padding: 94px 0;
    }
}

.container {
    max-width: 480px;
    padding: 0 15px;
    margin: 0 auto;

    @include media(tablet) {
        max-width: 768px;
    }

    @include media(desktop) {
        min-width: 1200px;
    }
}