$header-color: #212121;
$desc-color: #757575;
$accent-color: #2196f3;
$address-color: rgba(255, 255, 255, 0.6);

$white-color: #ffffff;
$black-color: #000000;
$bgr-primary-color: #f5f4fa;
$bgr-secondary-color: #2f303a;

$border-color: #eeeeee;
$header-border-color: #ececec;

$icon-color: #afb1b8;

$bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

$card-set-gap: 30px;